$colors-pale-creme: #F6E1C3;
$colors-pale-creme-orange: #E9A178;
$colors-redish-brown: #A84448;
$colors-purple: #7A3E65;
$colors-white: #FFFFFF;
$colors-grey: #F6F6F6;
$colors-light-green: #C7FFD8;
$colors-light-blue: #98DED9;
$colors-dark-blue: #161D6F;
$colors-black: #000000;